### walmartデータからAutoAI時系列予測のためのトレーニングデータに変換します

まず、画面右上のドットが縦に３つあるアイコンをクリックし、「プロジェクト・トークンの挿入」を選択して、追加されたセルを実行してください

In [9]:
import pandas as pd

In [10]:
# features.csvのロード
features_csv = project.get_file("features.csv")
features = pd.read_csv(features_csv)
features = features[features.Store == 1]
features

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
177,1,2013-06-28,83.94,3.495,4205.98,796.70,6.84,3816.78,4812.74,NaN,NaN,False
178,1,2013-07-05,79.85,3.422,7649.99,3503.29,1766.77,9454.96,1079.89,NaN,NaN,False
179,1,2013-07-12,83.12,3.400,6089.94,1362.42,209.62,2367.42,2651.05,NaN,NaN,False
180,1,2013-07-19,79.26,3.556,3117.04,1060.39,199.05,1012.30,5381.72,NaN,NaN,False
181,1,2013-07-26,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False

In [11]:
# train.csvのロード
train_csv = project.get_file("train.csv")
train = pd.read_csv(train_csv)
train = train[train.Store == 1]
train

       Store  Dept        Date  Weekly_Sales  IsHoliday
0          1     1  2010-02-05      24924.50      False
1          1     1  2010-02-12      46039.49       True
2          1     1  2010-02-19      41595.55      False
3          1     1  2010-02-26      19403.54      False
4          1     1  2010-03-05      21827.90      False
...      ...   ...         ...           ...        ...
10239      1    99  2012-08-31         20.06      False
10240      1    99  2012-09-07          0.05       True
10241      1    99  2012-09-14          0.03      False
10242      1    99  2012-10-05        635.00      False
10243      1    99  2012-10-12         80.00      False

[10244 rows x 5 columns]

In [12]:
# trainデータフレームをピボットしてDept(部門番号)ごとの週売上データに変換する
train_pivot_test = train.pivot(index="Date",columns="Dept",values="Weekly_Sales").add_prefix("週売上_")
train_pivot_test

Dept,週売上_1,週売上_2,週売上_3,週売上_4,週売上_5,週売上_6,週売上_7,週売上_8,週売上_9,週売上_10,...,週売上_90,週売上_91,週売上_92,週売上_93,週売上_94,週売上_95,週売上_96,週売上_97,週売上_98,週売上_99
Date,,,,,,,,,,,,,,,,,,,,,
2010-02-05,24924.50,50605.27,13740.12,39954.04,32229.38,5749.03,21084.08,40129.01,16930.99,30721.50,...,76419.47,62424.14,139884.94,64494.87,56655.39,106690.06,NaN,32153.04,10891.37,NaN
2010-02-12,46039.49,44682.74,10887.84,35351.21,29620.81,9135.00,18310.31,37334.83,16562.49,31494.77,...,79455.64,66937.00,143081.42,70202.02,62329.48,111390.36,NaN,33874.47,16309.73,NaN
2010-02-19,41595.55,47928.89,11523.47,36826.95,26468.27,6060.26,19985.20,38717.60,15880.85,29634.13,...,76091.36,63011.44,135066.75,62581.64,72212.32,107952.07,NaN,31585.78,12087.95,NaN
2010-02-26,19403.54,44292.87,11135.17,34660.16,24101.89,5244.56,17224.22,35318.20,15175.52,27921.96,...,71718.48,57335.17,125048.08,57630.02,55501.07,103652.58,NaN,28457.31,10871.74,NaN
2010-03-05,21827.90,48397.98,12275.58,38086.19,23082.14,4221.25,19659.70,38776.09,24064.70,33299.27,...,78081.85,62755.71,132945.44,63550.08,59201.37,112807.75,NaN,31576.47,10903.65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-09-28,18947.81,45784.76,13085.95,34647.33,22560.39,3168.68,22343.24,37254.84,40712.85,27205.40,...,80701.63,55839.93,122434.07,63262.59,58663.94,115326.47,34921.11,32971.82,10857.27,NaN
2012-10-05,21904.47,48577.08,11676.98,39311.93,25508.81,3843.29,22071.39,42663.75,40439.53,27822.40,...,95882.36,69193.16,159459.88,81868.04,63583.95,127009.22,33154.23,40500.26,13434.95,635.0
2012-10-12,22764.01,42112.67,10487.17,35446.18,20920.03,3788.59,20212.71,37248.47,37126.23,27803.78,...,92950.15,67677.85,156944.65,84659.27,62887.85,124559.93,32918.50,39844.82,12861.92,80.0
2012-10-19,24185.27,42354.72,8548.87,35549.19,20413.83,3496.69,21937.45,38668.75,36690.81,29442.38,...,88474.51,64022.49,146387.59,75214.29,62767.87,123346.24,37113.21,36028.46,13110.24,NaN
2012-10-26,27390.81,43134.88,9350.90,36292.60,25846.94,4032.50,21449.85,39255.35,41040.84,26285.27,...,84064.59,55472.46,132155.74,66622.89,60278.73,117375.38,36851.92,32830.52,12702.86,NaN

In [13]:
# train_pivotデータフレームにfeatureデータフレームを結合する
train_merged = features.merge(train_pivot_test, how='inner', on = ['Date']).reset_index(drop=True)
train_merged

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,...,週売上_90,週売上_91,週売上_92,週売上_93,週売上_94,週売上_95,週売上_96,週売上_97,週売上_98,週売上_99
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,...,76419.47,62424.14,139884.94,64494.87,56655.39,106690.06,NaN,32153.04,10891.37,NaN
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,...,79455.64,66937.00,143081.42,70202.02,62329.48,111390.36,NaN,33874.47,16309.73,NaN
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,...,76091.36,63011.44,135066.75,62581.64,72212.32,107952.07,NaN,31585.78,12087.95,NaN
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,...,71718.48,57335.17,125048.08,57630.02,55501.07,103652.58,NaN,28457.31,10871.74,NaN
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,...,78081.85,62755.71,132945.44,63550.08,59201.37,112807.75,NaN,31576.47,10903.65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,1,2012-09-28,76.08,3.666,3666.27,7.64,1.65,1417.96,4744.28,222.981658,...,80701.63,55839.93,122434.07,63262.59,58663.94,115326.47,34921.11,32971.82,10857.27,NaN
139,1,2012-10-05,68.55,3.617,8077.89,NaN,18.22,3617.43,3626.14,223.181477,...,95882.36,69193.16,159459.88,81868.04,63583.95,127009.22,33154.23,40500.26,13434.95,635.0
140,1,2012-10-12,62.99,3.601,2086.18,NaN,8.11,602.36,5926.45,223.381296,...,92950.15,67677.85,156944.65,84659.27,62887.85,124559.93,32918.50,39844.82,12861.92,80.0
141,1,2012-10-19,67.97,3.594,950.33,NaN,4.93,80.25,2312.85,223.425723,...,88474.51,64022.49,146387.59,75214.29,62767.87,123346.24,37113.21,36028.46,13110.24,NaN
142,1,2012-10-26,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,223.444251,...,84064.59,55472.46,132155.74,66622.89,60278.73,117375.38,36851.92,32830.52,12702.86,NaN

In [14]:
# 最後にプロジェクト内にデータ資産として保管する
project.save_data("train_merged.csv", train_merged.to_csv(header=True,index=False,na_rep='NA'), overwrite=True)

{'file_name': 'train_merged.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'fujiokaproject1-donotdelete-pr-jfln5u7b6dcl7n',
 'asset_id': 'edf636d5-6e89-4c1f-aa8e-175894be87e4'}